<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Recipe Creation</title>
    <script src="/js/addIngredient.js" defer></script>
    <script src="/js/addDirection.js" defer></script>
    <script src="/js/addLink.js" defer></script>
    <script src="/js/addUserSubstitutionEntry.js" defer></script>
    <script src="/js/addTags.js" defer></script>
    <script src="/js/repopulateRemoveButtons.js" defer></script>
</head>

<style>
    /* for testing purposes */
    table td:nth-child(even) {
    background-color: #A9A9A9; /* Light gray */
}

table td:nth-child(odd) {
    background-color: #ffffff; /* White */
}

table {
    border-collapse: collapse;
    width: 100%; /* Ensures the table takes full width */
}

</style>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>Create your recipe</h2>
</header>

<main>
    <div th:each="error : ${errors}">
        <span th:text="${error}" style="color: red;"></span>
    </div>
    <form id= "recipeForm" action="#" th:action="@{/recipe/create}" th:object="${webRecipe}" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><h3>Recipe Info</h3></td>
            </tr>
            <tr>
                <td><label>Recipe Name: </label></td>
                <td><input type="text" th:field="*{info.name}" placeholder="Recipe Name" maxlength="40" required/></td>
            </tr>
            <tr>
                <td><label>Recipe Description: </label></td>
                <td><textarea th:field="*{info.description}" placeholder="Recipe Description: Not required, but encouraged." maxlength="1000"></textarea></td>
            </tr>
            <tr>
                <td><label>Servings: </label></td>
                <td><input type="number" step="0.1" min="0.1" th:field="*{info.yield}" placeholder="Quantity recipe makes" required/></td>
            </tr>
            <tr>
                <td><label>Unit of Servings</label></td>
                <td>
                    <select th:field="*{info.unitOfYield}" required>
                        <option value="">Select a Unit</option>
                        <!-- Specific Food Portions -->
                        <option value="Bowls">Bowls</option>
                        <option value="Cakes">Cakes</option>
                        <option value="Cookies">Cookies</option>
                        <option value="Cupcakes">Cupcakes</option>
                        <option value="Finished Dishes">Finished Dishes (fully prepared meals)</option>
                        <option value="Gallons">Gallons (gal)</option>
                        <option value="Grams">Grams (g)</option>
                        <option value="Kilograms">Kilograms (kg)</option>
                        <option value="Liters">Liters (l)</option>
                        <option value="Loaves">Loaves</option>
                        <option value="Milliliters">Milliliters (ml)</option>
                        <option value="Muffins">Muffins</option>
                        <option value="Ounces">Ounces (oz)</option>
                        <option value="Patties">Patties</option>
                        <option value="Pieces">Pieces</option>
                        <option value="Pies">Pies</option>
                        <option value="Pints">Pints (pt)</option>
                        <option value="Plates">Plates</option>
                        <option value="Quarts">Quarts (qt)</option>
                        <option value="Rolls">Rolls</option>
                        <option value="Servings">Servings</option>
                        <option value="Slices">Slices</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Preparation Hours: </label></td>
                <td><input type="number" step="1" min="0" value="0" th:field="*{info.prepHr}"></td>
            </tr>
            <tr>
                <td><label>Preparation Minutes: </label></td>
                <td><input type="number" step="1" min="0" max="59" value="0" th:field="*{info.prepMin}"></td>
            </tr>
            <tr>
                <td><label>Process Hours: </label></td>
                <td><input type="number" step="1" min="0" value="0" th:field="*{info.processHr}"></td>
            </tr>
            <tr>
                <td><label>Process Minutes:</label></td>
                <td><input type="number" step="1" min="0" max="59" value="0" th:field="*{info.processMin}"></td>
            </tr>
        </table>
        <h3>Ingredients</h3>
        <button type="button" id="addIngredientBtn">Add Ingredient</button>
        <table>
            <thead>
            <tr>
                <th>Ingredient Name</th>
                <th>Whole Number Quantity</th>
                <th>Fractional Quantity</th>
                <th>Measurement</th>
                <th>Preparation</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody id="ingredientList">
            <tr class="ingredientEntry" th:each="ingredient, index : *{ingredients}">
                <td><input type="text" th:field="*{ingredients[__${index.index}__].component}" placeholder="Ingredient Name" maxlength="45" required></td>
                <td><input type="number" min="0" th:field="*{ingredients[__${index.index}__].wholeNumberQuantity}" placeholder="Whole Number Quantity"></td>
                <td>
                    <select th:field="*{ingredients[__${index.index}__].fractionQuantity}">
                        <option value="0">Fractional Quantity (if needed)</option>
                        <option value="0">No fraction</option>
                        <option value="1/8">1/8</option>
                        <option value="1/4">1/4</option>
                        <option value="3/8">3/8</option>
                        <option value="1/3">1/3</option>
                        <option value="1/2">1/2</option>
                        <option value="5/8">5/8</option>
                        <option value="2/3">2/3</option>
                        <option value="3/4">3/4</option>
                        <option value="7/8">7/8</option>
                    </select>
                </td>
                <td>
                    <select th:field="*{ingredients[__${index.index}__].measurement}" required>
                        <option value="">Measurement</option>
                        <option value="Cups">Cups</option>
                        <option value="Dashes">Dashes</option>
                        <option value="Fluid Ounces">Fluid Ounces (fl oz)</option>
                        <option value="Grams">Grams (g)</option>
                        <option value="Kilograms">Kilograms (kg)</option>
                        <option value="Liters">Liters (L)</option>
                        <option value="Milliliters">Milliliters (ml)</option>
                        <option value="Ounces">Ounces (oz)</option>
                        <option value="Pinches">Pinches</option>
                        <option value="Pounds">Pounds (lb)</option>
                        <option value="Tablespoons">Tablespoons (tbsp)</option>
                        <option value="Teaspoons">Teaspoons (tsp)</option>
                        <option value="Whole">Whole Ingredient</option>
                    </select>
                </td>
                <td>
                    <select th:field="*{ingredients[__${index.index}__].preparation}" required>
                        <option value="">Preparation</option>
                        <option value="Beaten">Beaten</option>
                        <option value="Boiled">Boiled</option>
                        <option value="Chopped">Chopped</option>
                        <option value="Crushed">Crushed</option>
                        <option value="Cubed">Cubed</option>
                        <option value="Diced">Diced</option>
                        <option value="Grated">Grated</option>
                        <option value="Ground">Ground</option>
                        <option value="Julienned">Julienned</option>
                        <option value="Mashed">Mashed</option>
                        <option value="Melted">Melted</option>
                        <option value="Minced">Minced</option>
                        <option value="Peeled">Peeled</option>
                        <option value="Roasted">Roasted</option>
                        <option value="Shaken">Shaken</option>
                        <option value="Sliced">Sliced</option>
                        <option value="Stirred">Stirred</option>
                        <option value="Toasted">Toasted</option>
                        <option value="Unprepared">Unprepared</option>
                        <option value="Whisked">Whisked</option>
                        <option value="Zested">Zested</option>
                    </select>
                </td>
                <td><button type="button" class="removeButton">Remove</button></td>
            </tr>
            </tbody>
        </table>

        <h3>Directions</h3>
        <button type="button" id="addDirectionBtn">Add Direction</button>
        <table>
            <thead>
            <tr>
                <th>Direction</th>
                <th>Method</th>
                <th>Temperature</th>
                <th>Heat Level</th>
            </tr>
            </thead>
            <tbody id="directionList">
            <tr class="directionEntry" th:each="direction, index : *{directions}">
                <!-- The first direction entry is always present -->
                <td><textarea th:field="*{directions[__${index.index}__].direction}" placeholder="Step Description" maxlength="300" required></textarea></td>
                <td><select th:field="*{directions[__${index.index}__].method}">
                    <option value="">Method</option>
                    <option value="Assembling">Assembling</option>
                    <option value="Baking">Baking</option>
                    <option value="Boiling">Boiling</option>
                    <option value="Frying">Frying</option>
                    <option value="Grilling">Grilling</option>
                    <option value="Mixing">Mixing</option>
                    <option value="Roasting">Roasting</option>
                    <option value="Searing">Searing</option>
                    <option value="Simmering">Simmering</option>
                    <option value="Steaming">Steaming</option>
                    <option value="Stirring">Stirring</option>
                    <option value="Whisking">Whisking</option>
                </select></td>
                <td><input type="number" th:field="*{directions[__${index.index}__].temp}" placeholder="Temperature (°F)" min="0"></td>
                <td><select th:field="*{directions[__${index.index}__].level}">
                    <option value="">Heat Level</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select></td>
                <td><button type="button" class="removeButton">Remove</button></td>
            </tr>
            </tbody>
        </table>
        <table>
            <tr>
                <td><h3>Recipe Notes</h3></td>
            </tr>
            <tr>
                <td>
                    <textarea th:field="*{note.note}" placeholder="Add any additional notes or tips about the recipe here..." maxlength="2500"></textarea>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><h3>Recipe Links</h3></td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addLinkBtn">Add Link</button>
                    <div id="linkList">
                        <div th:each="link, index : *{links}" class="linkEntry">
                            <input type="text" th:field="*{links[__${index.index}__].link}" class="existingLink" placeholder="Link" maxlength="125">
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td><h3>User Substitutions</h3></td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addUserSubBtn">Add Substitution</button>
                    <div id="userSubList">
                        <div class="substitutionEntry" th:each="userSub, index : *{userSubstitutionEntries}">
                            <!-- Original Ingredient Fields -->
                            <input type="text" th:field="*{userSubstitutionEntries[__${index.index}__].originalComponent}" placeholder="Original Ingredient Name" maxlength="45" required>
                            <input type="number" min="0" th:field="*{userSubstitutionEntries[__${index.index}__].originalWholeNumberQuantity}" placeholder="Original Whole Number Quantity">
                            <select th:field="*{userSubstitutionEntries[__${index.index}__].originalFractionQuantity}">
                                <option value="0">Fractional Quantity (if needed)</option>
                                <option value="0">No fraction</option>
                                <option value="1/8">1/8</option>
                                <option value="1/4">1/4</option>
                                <option value="3/8">3/8</option>
                                <option value="1/3">1/3</option>
                                <option value="1/2">1/2</option>
                                <option value="5/8">5/8</option>
                                <option value="2/3">2/3</option>
                                <option value="3/4">3/4</option>
                            </select>
                            <select th:field="*{userSubstitutionEntries[__${index.index}__].originalMeasurement}" required>
                                <option value="">Measurement</option>
                                <option value="Cups">Cups</option>
                                <option value="Dashes">Dashes</option>
                                <option value="Fluid Ounces">Fluid Ounces (fl oz)</option>
                                <option value="Grams">Grams (g)</option>
                                <option value="Kilograms">Kilograms (kg)</option>
                                <option value="Liters">Liters (L)</option>
                                <option value="Milliliters">Milliliters (ml)</option>
                                <option value="Ounces">Ounces (oz)</option>
                                <option value="Pinches">Pinches</option>
                                <option value="Pounds">Pounds (lb)</option>
                                <option value="Tablespoons">Tablespoons (tbsp)</option>
                                <option value="Teaspoons">Teaspoons (tsp)</option>
                                <option value="Whole">Whole Ingredient</option>
                            </select>
                            <select th:field="*{userSubstitutionEntries[__${index.index}__].originalPreparation}" required>
                                <option value="">Preparation</option>
                                <option value="Beaten">Beaten</option>
                                <option value="Boiled">Boiled</option>
                                <option value="Chopped">Chopped</option>
                                <option value="Crushed">Crushed</option>
                                <option value="Cubed">Cubed</option>
                                <option value="Diced">Diced</option>
                                <option value="Grated">Grated</option>
                                <option value="Ground">Ground</option>
                                <option value="Julienned">Julienned</option>
                                <option value="Mashed">Mashed</option>
                                <option value="Melted">Melted</option>
                                <option value="Minced">Minced</option>
                                <option value="Peeled">Peeled</option>
                                <option value="Roasted">Roasted</option>
                                <option value="Shaken">Shaken</option>
                                <option value="Sliced">Sliced</option>
                                <option value="Stirred">Stirred</option>
                                <option value="Toasted">Toasted</option>
                                <option value="Unprepared">Unprepared</option>
                                <option value="Whisked">Whisked</option>
                                <option value="Zested">Zested</option>
                            </select>
                            <br>
                            <!-- Substituted Ingredient Fields -->
                            <input type="text" th:field="*{userSubstitutionEntries[__${index.index}__].substitutedComponent}" placeholder="Substituted Ingredient Name" maxlength="45" required>
                            <input type="number" min="0" th:field="*{userSubstitutionEntries[__${index.index}__].substitutedWholeNumberQuantity}" placeholder="Substituted Whole Number Quantity">
                            <select th:field="*{userSubstitutionEntries[__${index.index}__].substitutedFractionQuantity}">
                                <option value="0">Fractional Quantity (if needed)</option>
                                <option value="0">No fraction</option>
                                <option value="1/8">1/8</option>
                                <option value="1/4">1/4</option>
                                <option value="3/8">3/8</option>
                                <option value="1/3">1/3</option>
                                <option value="1/2">1/2</option>
                                <option value="5/8">5/8</option>
                                <option value="2/3">2/3</option>
                                <option value="3/4">3/4</option>
                            </select>
                            <select th:field="*{userSubstitutionEntries[__${index.index}__].substitutedMeasurement}" required>
                                <option value="">Measurement</option>
                                <option value="Cups">Cups</option>
                                <option value="Dashes">Dashes</option>
                                <option value="Fluid Ounces">Fluid Ounces (fl oz)</option>
                                <option value="Grams">Grams (g)</option>
                                <option value="Kilograms">Kilograms (kg)</option>
                                <option value="Liters">Liters (L)</option>
                                <option value="Milliliters">Milliliters (ml)</option>
                                <option value="Ounces">Ounces (oz)</option>
                                <option value="Pinches">Pinches</option>
                                <option value="Pounds">Pounds (lb)</option>
                                <option value="Tablespoons">Tablespoons (tbsp)</option>
                                <option value="Teaspoons">Teaspoons (tsp)</option>
                                <option value="Whole">Whole Ingredient</option>
                            </select>
                            <select th:field="*{userSubstitutionEntries[__${index.index}__].substitutedPreparation}" required>
                                <option value="">Preparation</option>
                                <option value="Beaten">Beaten</option>
                                <option value="Boiled">Boiled</option>
                                <option value="Chopped">Chopped</option>
                                <option value="Crushed">Crushed</option>
                                <option value="Cubed">Cubed</option>
                                <option value="Diced">Diced</option>
                                <option value="Grated">Grated</option>
                                <option value="Ground">Ground</option>
                                <option value="Julienned">Julienned</option>
                                <option value="Mashed">Mashed</option>
                                <option value="Melted">Melted</option>
                                <option value="Minced">Minced</option>
                                <option value="Peeled">Peeled</option>
                                <option value="Roasted">Roasted</option>
                                <option value="Shaken">Shaken</option>
                                <option value="Sliced">Sliced</option>
                                <option value="Stirred">Stirred</option>
                                <option value="Toasted">Toasted</option>
                                <option value="Unprepared">Unprepared</option>
                                <option value="Whisked">Whisked</option>
                                <option value="Zested">Zested</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>

        </table>
        <table>
            <tr>
                <td><h3>Upload Recipe Image</h3></td>
            </tr>
            <tr>
                <td><input type="file" name="file" /></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><h3>Recipe Tags</h3></td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addHolidayBtn">Add Holiday</button>
                    <div id="holidayList">
                        <div th:each="holiday, index : *{holidays}" class="holidayEntry">
                            <select th:field="*{holidays[__${index.index}__].field}" class="existingHoliday">
                                <option value="">Holiday</option>
                                <option value="Birthday">Birthday</option>
                                <option value="Christmas">Christmas</option>
                                <option value="Diwali">Diwali</option>
                                <option value="Easter">Easter</option>
                                <option value="Father’s Day">Father’s Day</option>
                                <option value="Halloween">Halloween</option>
                                <option value="Hanukkah">Hanukkah</option>
                                <option value="Independence Day">Independence Day</option>
                                <option value="Kwanzaa">Kwanzaa</option>
                                <option value="Lunar New Year">Lunar New Year</option>
                                <option value="Mother’s Day">Mother’s Day</option>
                                <option value="New Year’s Day">New Year’s Day</option>
                                <option value="Ramadan">Ramadan</option>
                                <option value="St. Patrick’s Day">St. Patrick’s Day</option>
                                <option value="Thanksgiving">Thanksgiving</option>
                                <option value="Valentine’s Day">Valentine’s Day</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addMealTypeBtn">Add Meal Type</button>
                    <div id="mealTypeList">
                        <div th:each="mealType, index : *{mealTypes}" class="mealTypeEntry">
                            <select th:field="*{mealTypes[__${index.index}__].field}" class="existingMealType">
                                <option value="">Meal type</option>
                                <option value="Appetizer">Appetizer</option>
                                <option value="Breakfast">Breakfast</option>
                                <option value="Brunch">Brunch</option>
                                <option value="Dessert">Dessert</option>
                                <option value="Dinner">Dinner</option>
                                <option value="Lunch">Lunch</option>
                                <option value="Snack">Snack</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addCuisineBtn">Add Cuisine</button>
                    <div id="cuisineList">
                        <div th:each="cuisine, index : *{cuisines}" class="cuisineEntry">
                            <select th:field="*{cuisines[__${index.index}__].field}" class="existingCuisine">
                                <option value="">Select a cuisine</option>
                                <option value="African">African</option>
                                <option value="American">American</option>
                                <option value="Caribbean">Caribbean</option>
                                <option value="Chinese">Chinese</option>
                                <option value="French">French</option>
                                <option value="Greek">Greek</option>
                                <option value="Indian">Indian</option>
                                <option value="Italian">Italian</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Mediterranean">Mediterranean</option>
                                <option value="Mexican">Mexican</option>
                                <option value="Middle Eastern">Middle Eastern</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Thai">Thai</option>
                                <option value="Vietnamese">Vietnamese</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addAllergenBtn">Add Allergen</button>
                    <div id="allergenList">
                        <div th:each="allergen, index : *{allergens}" class="allergenEntry">
                            <select th:field="*{allergens[__${index.index}__].field}" class="existingAllergen">
                                <option value="">Select an allergy</option>
                                <option value="Dairy-Free">Dairy-Free</option>
                                <option value="Egg-Free">Egg-Free</option>
                                <option value="Fish-Free">Fish-Free</option>
                                <option value="Gluten-Free">Gluten-Free</option>
                                <option value="Peanut-Free">Peanut-Free</option>
                                <option value="Sesame-Free">Sesame-Free</option>
                                <option value="Shellfish-Free">Shellfish-Free</option>
                                <option value="Soy-Free">Soy-Free</option>
                                <option value="Tree Nut-Free">Tree Nut-Free</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addDietTypeBtn">Add Diet Type</button>
                    <div id="dietTypeList">
                        <div th:each="dietType, index : *{dietTypes}" class="dietTypeEntry">
                            <select th:field="*{dietTypes[__${index.index}__].field}" class="existingDietType">
                                <option value="">Select a diet type</option>
                                <option value="Keto">Keto</option>
                                <option value="Low-Carb">Low-Carb</option>
                                <option value="Low-Fat">Low-Fat</option>
                                <option value="Paleo">Paleo</option>
                                <option value="Pescatarian">Pescatarian</option>
                                <option value="Vegetarian">Vegetarian</option>
                                <option value="Vegan">Vegan</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addCookingLevelBtn">Add Cooking Level</button>
                    <div id="cookingLevelList">
                        <div th:each="cookingLevel, index : *{cookingLevels}" class="cookingLevelEntry">
                            <select th:field="*{cookingLevels[__${index.index}__].field}" class="existingCookingLevel">
                                <option value="">Select a cooking level</option>
                                <option value="Novice">Novice</option>
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Advanced">Advanced</option>
                                <option value="Expert">Expert</option>
                                <option value="Chef-Level">Chef-Level</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addCookingStyleBtn">Add Cooking Style</button>
                    <div id="cookingStyleList">
                        <div th:each="cookingStyle, index : *{cookingStyles}" class="cookingStyleEntry">
                            <select th:field="*{cookingStyles[__${index.index}__].field}" class="existingCookingStyle">
                                <option value="">Select a cooking style</option>
                                <option value="30-Minute Meals">30-Minute Meals</option>
                                <option value="Air Fryer Recipes">Air Fryer Recipes</option>
                                <option value="Baking">Baking</option>
                                <option value="Comfort Food">Comfort Food</option>
                                <option value="Freezer-Friendly">Freezer-Friendly</option>
                                <option value="Grilled Recipes">Grilled Recipes</option>
                                <option value="Healthy">Healthy</option>
                                <option value="Kid-Friendly">Kid-Friendly</option>
                                <option value="Make-Ahead Recipes">Make-Ahead Recipes</option>
                                <option value="Meal Prep Friendly">Meal Prep Friendly</option>
                                <option value="No-Bake Recipes">No-Bake Recipes</option>
                                <option value="One-Pot Recipes">One-Pot Recipes</option>
                                <option value="Party Food">Party Food</option>
                                <option value="Quick & Easy">Quick & Easy</option>
                                <option value="Sheet Pan Meals">Sheet Pan Meals</option>
                                <option value="Slow Cooker Recipes">Slow Cooker Recipes</option>
                                <option value="Other">Other</option>
                            </select>
                            <button type="button" class="removeButton" th:if="${index.index >= 0}">Remove</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit">Create Recipe</button>
    </form>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>