<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Recipe Creation</title>
    <script src="/js/addIngredient.js" defer></script>
    <script src="/js/addDirection.js" defer></script>
    <script src="/js/addCategory.js" defer></script>

</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>Create your recipe</h2>
</header>

<main>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <form id= "recipeForm" action="#" th:action="@{/recipe/create}" th:object="${webRecipe}" method="post">
        <table>
            <tr>
                <td colspan="4"><h3>Required Fields</h3></td>
            </tr>
            <tr>
                <td colspan="4"><h4>Recipe Info</h4></td>
            </tr>
            <tr>
                <td>Recipe Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
            <tr>
                <td>Recipe Description:</td>
                <td colspan="3"><textarea rows="3" cols="65" th:field="*{description}" placeholder="Not required, but encouraged."></textarea></td>
            </tr>
            <tr>
                <td>Makes:</td>
                <td><input type="number" step="0.1" min="0.1" value="0.1" th:field="*{yield}" required/></td>
                <td>Unit:</td>
                <td>
                    <select th:field="*{unitOfYield}" required>
                        <option value="">Select a Unit</option>
                        <!-- Specific Food Portions -->
                        <option value="Bowls">Bowls</option>
                        <option value="Cakes">Cakes</option>
                        <option value="Cookies">Cookies</option>
                        <option value="Cupcakes">Cupcakes</option>
                        <option value="Finished Dishes">Finished Dishes (fully prepared meals)</option>
                        <option value="Gallons">Gallons (gal)</option>
                        <option value="Grams">Grams (g)</option>
                        <option value="Kilograms">Kilograms (kg)</option>
                        <option value="Liters">Liters (l)</option>
                        <option value="Loaves">Loaves</option>
                        <option value="Milliliters">Milliliters (ml)</option>
                        <option value="Muffins">Muffins</option>
                        <option value="Ounces">Ounces (oz)</option>
                        <option value="Patties">Patties</option>
                        <option value="Pieces">Pieces</option>
                        <option value="Pies">Pies</option>
                        <option value="Pints">Pints (pt)</option>
                        <option value="Plates">Plates</option>
                        <option value="Quarts">Quarts (qt)</option>
                        <option value="Rolls">Rolls</option>
                        <option value="Servings">Servings</option>
                        <option value="Slices">Slices</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Preparation Hours:</td>
                <td><input type="number" step="1" min="0" value="0" th:field="*{prepHr}"></td>
                <td>Preparation Minutes:</td>
                <td><input type="number" step="1" min="0" max="59" value="0" th:field="*{prepMin}"></td>
            </tr>
            <tr>
                <td>Process Hours:</td>
                <td><input type="number" step="1" min="0" value="0" th:field="*{processHr}"></td>
                <td>Process Minutes:</td>
                <td><input type="number" step="1" min="0" max="59" value="0" th:field="*{processMin}"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <h4>Ingredients</h4>
                    <button type="button" id="addIngredientBtn">Add Ingredient</button>
                    <div id="ingredientList">
                        <!-- The first ingredient entry is always present -->
                        <div class="ingredient-entry">
                            <input type="text" name="ingredients[0].component" placeholder="Ingredient Name" required>
                            <input type="number" min = "0" name="ingredients[0].wholeNumberQuantity" placeholder="Whole Number Quantity">
                            <select name="ingredients[0].fractionQuantity">
                                <option value="0">Fractional Quantity (if needed)</option>
                                <option value="0">No fraction</option>
                                <option value="1/8">1/8</option>
                                <option value="1/4">1/4</option>
                                <option value="3/8">3/8</option>
                                <option value="1/3">1/3</option>
                                <option value="1/2">1/2</option>
                                <option value="5/8">5/8</option>
                                <option value="2/3">2/3</option>
                                <option value="3/4">3/4</option>
                            </select>
                            <select name="ingredients[0].measurement" required>
                                <option value="">Measurement</option>
                                <option value="Cups">Cups</option>
                                <option value="Dashes">Dashes</option>
                                <option value="Fluid Ounces">Fluid Ounces (fl oz)</option>
                                <option value="Grams">Grams (g)</option>
                                <option value="Kilograms">Kilograms (kg)</option>
                                <option value="Liters">Liters (L)</option>
                                <option value="Milliliters">Milliliters (ml)</option>
                                <option value="Ounces">Ounces (oz)</option>
                                <option value="Pinches">Pinches</option>
                                <option value="Pounds">Pounds (lb)</option>
                                <option value="Tablespoons">Tablespoons (tbsp)</option>
                                <option value="Teaspoons">Teaspoons (tsp)</option>
                                <option value="Whole">Whole Ingredient</option>
                            </select>
                            <select name="ingredients[0].preparation" required>
                                <option value="">Preparation</option>
                                <option value="Beaten">Beaten</option>
                                <option value="Boiled">Boiled</option>
                                <option value="Chopped">Chopped</option>
                                <option value="Crushed">Crushed</option>
                                <option value="Cubed">Cubed</option>
                                <option value="Diced">Diced</option>
                                <option value="Grated">Grated</option>
                                <option value="Ground">Ground</option>
                                <option value="Julienned">Julienned</option>
                                <option value="Mashed">Mashed</option>
                                <option value="Melted">Melted</option>
                                <option value="Minced">Minced</option>
                                <option value="Peeled">Peeled</option>
                                <option value="Roasted">Roasted</option>
                                <option value="Shaken">Shaken</option>
                                <option value="Sliced">Sliced</option>
                                <option value="Stirred">Stirred</option>
                                <option value="Toasted">Toasted</option>
                                <option value="Whisked">Whisked</option>
                                <option value="Whole">Whole Ingredient</option>
                                <option value="Zested">Zested</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <h4>Directions</h4>
                    <button type="button" id="addDirectionBtn">Add Direction</button>
                    <div id="directionList">
                        <!-- The first direction entry is always present -->
                        <div class="direction-entry">
                            <textarea name="directions[0].direction" rows="2" cols="50" placeholder="Step Description" required></textarea>
                            <br>
                            <select name="directions[0].method">
                                <option value="">Method</option>
                                <option value="Assembling">Assembling</option>
                                <option value="Baking">Baking</option>
                                <option value="Boiling">Boiling</option>
                                <option value="Frying">Frying</option>
                                <option value="Grilling">Grilling</option>
                                <option value="Mixing">Mixing</option>
                                <option value="Roasting">Roasting</option>
                                <option value="Searing">Searing</option>
                                <option value="Simmering">Simmering</option>
                                <option value="Steaming">Steaming</option>
                                <option value="Stirring">Stirring</option>
                                <option value="Whisking">Whisking</option>
                            </select>
                            <input type="number" name="directions[0].temp" placeholder="Temperature (°F)" min="0">
                            <select name="directions[0].level">
                                <option value="">Heat Level</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4"><h3>Optional Fields</h3></td>
            </tr>
            <tr>
                <td>
                    <button type="button" id="addHolidayBtn">Add Holiday</button>
                    <div id="holidayList">
                        <div class="holiday-entry">
                            <input type="text" name="holidays[0].holiday" placeholder="Holiday">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <button type="submit">Create Recipe</button>
    </form>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
