<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Recipe Deleted</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>Recipe Deleted</h2>
</header>

<main>
    <p style="color: green;">This recipe has been deleted. Thank you for cleaning up RecipEase!</p>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
