<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase </title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>Search For A Recipe</h2>
</header>

<main>
    <form id= "recipeForm" action="#" th:action="@{/recipe/search}" th:object="${webSearch}" method="post">
        <label>Search here: </label>
        <input type="text" th:field="*{name}">
        <!-- insert tags here -->

        <hr>
        <table th:if="${results}">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Makes</th>
                <th>Prep Time</th>
                <th>Make Time</th>
                <th>Total Time</th>
                <th>Rating</th>
            </thead>
            <tbody>
                <tr th:each="recipe : ${results}">
                    <td>
                        <a th:href="${'http://localhost:8080/recipe/view?recipeId=' + recipe.recipeId}" th:text="${recipe.name}"></a>
                    </td>
                    <td th:text="${recipe.description}"></td>
                    <td th:text="${#numbers.formatDecimal(recipe.yield, 0, recipe.yield % 1 == 0 ? 0 : 1)} + ' ' + ${recipe.unitOfYield}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.prepHr, recipe.prepMin)}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.processHr, recipe.processMin)}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.totalHr, recipe.totalMin)}"></td>
                    <td th:text="${@recipeUtils.formatRatingShort(recipe.ratingInfo.averageRating, recipe.ratingInfo.numberOfRaters)}"></td>
                </tr>
            </tbody>
        </table>
        <button type="submit">Search</button>
    </form>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
