<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase </title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>Search For A Recipe</h2>
</header>

<main>
    <form id= "recipeForm" action="#" th:action="@{/recipe/search}" th:object="${webSearch}" method="post">
        <label>Search for recipe: </label>
        <input type="text" th:field="*{name}">
        <!-- insert tags here -->
        <button type="submit">Search</button>
    </form>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
