<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase View Recipe</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2 th:text="'View ' + ${recipe.recipeInfo.name}"></h2>
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
</header>

<main>
    <table>
        <tr>
            <td><h3>Recipe Info</h3></td>
        </tr>
        <tr>
            <td th:text="${recipe.recipeInfo.name}"></td>
        </tr>
        <tr>
            <td>
                <a th:href="${profileLink}" th:text="${authorName}"></a>
            </td>
        </tr>
        <tr>
            <td th:text = ${recipe.recipeInfo.description}></td>
        </tr>
        <td th:text="
            'Makes ' +
            (${#numbers.formatDecimal(recipe.recipeInfo.yield, 0, recipe.recipeInfo.yield % 1 == 0 ? 0 : 1)}) + ' ' +
            (${recipe.recipeInfo.yield == 1}
                ? ${#strings.substring(recipe.recipeInfo.unitOfYield, 0, recipe.recipeInfo.unitOfYield.lastIndexOf('s'))}
                : ${recipe.recipeInfo.unitOfYield})
        "></td>

        </td>

        <tr>
            <td th:if="${recipe.recipeInfo.prepHr > 0}"
                th:text="'Preparation Time: ' + ${recipe.recipeInfo.prepHr} + ' Hour' + (${recipe.recipeInfo.prepHr > 1 ? 's' : ''}) + ' ' + ${recipe.recipeInfo.prepMin} + ' Minute' + (${recipe.recipeInfo.prepMin > 1 ? 's' : ''})">
            </td>
            <td th:if="${recipe.recipeInfo.prepHr == 0}"
                th:text="'Process Time: ' + ${recipe.recipeInfo.prepMin} + ' Minute' + (${recipe.recipeInfo.prepMin != 1 ? 's' : ''})">
            </td>
        </tr>
        <tr>
            <td th:if="${recipe.recipeInfo.processHr > 0}"
                th:text="'Process Time: ' + ${recipe.recipeInfo.processHr} + ' Hour' + (${recipe.recipeInfo.processHr > 1 ? 's' : ''}) + ' ' + ${recipe.recipeInfo.processMin} + ' Minute' + (${recipe.recipeInfo.processMin > 1 ? 's' : ''})">
            </td>
            <td th:if="${recipe.recipeInfo.processHr == 0}"
                th:text="'Process Time: ' + ${recipe.recipeInfo.processMin} + ' Minute' + (${recipe.recipeInfo.processMin != 1 ? 's' : ''})">
            </td>
        </tr>

        <tr>
            <td th:if="${recipe.recipeInfo.totalHr > 0}"
                th:text="'Total Time: ' + ${recipe.recipeInfo.totalHr} + ' Hour' + (${recipe.recipeInfo.totalHr > 1 ? 's' : ''}) + ' ' + ${recipe.recipeInfo.totalMin} + ' Minute' + (${recipe.recipeInfo.totalMin > 1 ? 's' : ''})">
            </td>
            <td th:if="${recipe.recipeInfo.totalHr == 0}"
                th:text="'Total Time: ' + ${recipe.recipeInfo.totalMin} + ' Minute' + (${recipe.recipeInfo.totalMin != 1 ? 's' : ''})">
            </td>
        </tr>
        <tr>
            <td><h3>Ingredients</h3></td>
        </tr>
        <tr th:each="ingredient : ${recipe.recipeIngredients}">
            <td>
                <input type="checkbox">
                <span th:text="
                    ${ingredient.wholeNumberQuantity > 0 ? ingredient.wholeNumberQuantity + ' ' : ''} +
                    ${ingredient.fractionQuantity != '0' ? ingredient.fractionQuantity + ' ' : ''} +
                    ${
                        ingredient.measurement != null && ingredient.preparation != null && ingredient.measurement == 'Whole' && ingredient.preparation == 'Whole'
                            ? ''
                            : (
                                ingredient.measurement != null && ingredient.wholeNumberQuantity == 1 && ingredient.fractionQuantity == '0' && ingredient.measurement != 'Whole'
                                    ? (ingredient.measurement.endsWith('es')
                                        ? ingredient.measurement.substring(0, ingredient.measurement.length() - 2)
                                        : ingredient.measurement.substring(0, ingredient.measurement.length() - 1))
                                    : ingredient.measurement
                              )
                    } + ' ' + ${ingredient.preparation} + ' ' + ${ingredient.component}
                ">
                </span>
            </td>
        </tr>
        <tr>
            <td><h3>Directions</h3></td>
            <td>Simplified Directions</td>
        </tr>

        <tr th:each="direction : ${recipe.recipeDirections}">
            <td th:text="'Step ' + ${direction.stepNum} + ': ' + ${direction.direction}"></td>
            <td th:if="${!#strings.isEmpty(direction.method) and #strings.isEmpty(direction.level) and direction.temp > 0}"
                th:text="${direction.method} + ' at ' + ${direction.temp} + '°F'"></td>
            <td th:if="${!#strings.isEmpty(direction.method) and !#strings.isEmpty(direction.level) and direction.temp == 0}"
                th:text="${direction.method} + ' at ' + ${direction.level}"></td>
            <td th:if="${!#strings.isEmpty(direction.method) and !#strings.isEmpty(direction.level) and direction.temp > 0}"
                th:text="${direction.method} + ' at ' + ${direction.temp} + '°F or ' + ${direction.level}"></td>
            <td th:if="${!#strings.isEmpty(direction.method) and direction.temp == 0 and #strings.isEmpty(direction.level)}"
                th:text="${direction.method}"></td>
        </tr>
    </table>
    <div th:if="${glossaryList.size != 0}">
        <hr>
        <h3>Glossary Terms</h3>
        <table>
            <tbody>
                <tr th:each="entry : ${glossaryList}">
                    <td>
                        <strong th:text="${entry.term}"></strong>
                        <span th:text="': ' + ${entry.definition}"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${substitutionList.size != 0}">
        <hr>
        <h3>Known Substitution</h3>
        <table>
            <thead>
            <tr>
                <th>Original</th>
                <th>Amount and Preparation</th>
                <th>Substituted</th>
                <th>Amount and Preparation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${substitutionList}">
                <td th:text="${entry.originalComponent}"></td>

                <td th:if="${entry.originalFractionQuantity == null}"
                    th:text="${entry.originalWholeNumberQuantity + ' ' + entry.originalMeasurement + ' ' + entry.originalPreparation}">
                </td>
                <td th:if="${entry.originalWholeNumberQuantity == 0}"
                    th:text="${entry.originalFractionQuantity + ' ' + entry.originalMeasurement + ' ' + entry.originalPreparation}">
                </td>
                <td th:if="${entry.originalFractionQuantity != null && entry.originalWholeNumberQuantity != 0}"
                    th:text="${entry.originalWholeNumberQuantity + ' ' + entry.originalFractionQuantity + ' ' + entry.originalMeasurement + ' ' + entry.originalPreparation}">
                </td>
                <td th:text="${entry.substitutedComponent}"></td>

                <td th:if="${entry.substitutedFractionQuantity == null}"
                    th:text="${entry.substitutedWholeNumberQuantity + ' ' + entry.substitutedMeasurement + ' ' + entry.substitutedPreparation}">
                </td>
                <td th:if="${entry.substitutedWholeNumberQuantity == 0}"
                    th:text="${entry.substitutedFractionQuantity + ' ' + entry.substitutedMeasurement + ' ' + entry.substitutedPreparation}">
                </td>
                <td th:if="${entry.substitutedFractionQuantity != null && entry.substitutedWholeNumberQuantity != 0}"
                    th:text="${entry.substitutedWholeNumberQuantity + ' ' + entry.substitutedFractionQuantity + ' ' + entry.substitutedMeasurement + ' ' + entry.substitutedPreparation}">
                </td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
