<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase View Recipe</title>
    <script src="/js/print.js" defer></script>
    <script src="/js/rating.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/print.css">
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/viewRecipe.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>

<body>
<div class="container">

<header class="noPrint">
    <div th:replace="~{fragments/navbar}"></div>
    <h2><span th:text="${recipe.recipeInfo.name}"></span></h2>
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>

</header>

<main id="printable-section">
    <table>
        <thead>
        <tr>
            <th colspan="2">Recipe Information</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <span th:text="${recipe.recipeInfo.name}"></span> by
                <a th:href="@{'http://localhost:8080/profile/view?id=' + ${recipe.recipeInfo.userId}}"
                   th:text="${authorName}"></a>
            </td>
            <td th:if="${recipe.recipePhoto != null}" th:attr="rowspan=${rowSpan}">
                 <img th:src="${recipe.recipePhoto.fileLocation}" alt="Recipe Photo" height="150px">
            </td>
        </tr>
        <tr th:if="${recipe.recipeInfo.description != null and #strings.trim(recipe.recipeInfo.description) != ''}">
            <td
                th:text="${recipe.recipeInfo.description}">
            </td>
        </tr>
        <tr>
            <td>
                <span th:text="'Recipe makes ' + ${recipe.recipeInfo.yield} + ' ' + ${recipe.recipeInfo.unitOfYield}"></span> |
                <span th:text="${@recipeUtils.formatRatingLong(recipe.recipeInfo.ratingInfo.averageRating, recipe.recipeInfo.ratingInfo.numberOfRaters)}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <span th:text="${@recipeUtils.formatTimeLong('Prep', recipe.recipeInfo.prepHr, recipe.recipeInfo.prepMin)}"></span> |
                <span th:text="${@recipeUtils.formatTimeLong('Process', recipe.recipeInfo.processHr, recipe.recipeInfo.processMin)}"></span> |
                <span th:text="${@recipeUtils.formatTimeLong('Total', recipe.recipeInfo.totalHr, recipe.recipeInfo.totalMin)}"></span>
            </td>
        </tr>
        <tr th:if="${originalLink}">
            <td>
                <a th:href="${originalLink}">Original Recipe</a>
            </td>
        </tr>
        <tr>
            <td class="noPrint" id="utility">
                <button th:onclick="|location.href='/recipe/variation/create?recipeId=' + ${recipe.recipeInfo.recipeId}|">Create Variation</button>
                <button id="printWithImages">Print Recipe</button>
                <button th:if="${recipe.recipePhoto != null}" id="printWithoutImages">Print Recipe without Image</button>
                <form id="deleteRecipeForm" th:action="@{/mod/recipe/delete}" method="post" sec:authorize="hasRole('MOD') or hasRole('ADMIN')">
                    <input type="hidden" name="recipeId" th:value="${recipe.recipeInfo.recipeId}" />
                    <button type="submit">Delete Recipe</button>
                </form>
                <form id="bookmarkForm" th:action="@{${bookmarkExist} ? '/recipe/bookmark/remove' : '/recipe/bookmark/add'}" method="post">
                    <input type="hidden" name="recipeId" th:value="${recipe.recipeInfo.recipeId}" />
                    <button type="submit" th:text="@{${bookmarkExist} ? 'Remove From Bookmarks' : 'Bookmark Recipe'}"></button>
                </form>
                <h4>Add your rating:</h4>
                <form id="ratingForm" th:action="@{/recipe/rating/add}" th:object="${webRating}" method="post">
                    <input type="hidden" th:field="*{recipeId}" />
                    <div class="rating" id="ratingContainer">
                        <!-- icons provided by Font Awesome (https://fontawesome.com/) -->
                        <button type="submit" name="ratingValue" value="1"><i class="fa fa-star"></i></button>
                        <button type="submit" name="ratingValue" value="2"><i class="fa fa-star"></i></button>
                        <button type="submit" name="ratingValue" value="3"><i class="fa fa-star"></i></button>
                        <button type="submit" name="ratingValue" value="4"><i class="fa fa-star"></i></button>
                        <button type="submit" name="ratingValue" value="5"><i class="fa fa-star"></i></button>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>


    <h3>Ingredients</h3>
    <form id="scalingForm" th:action="@{/recipe/scaling}" th:object="${webScaling}" method="post">
        <span>Need bigger or smaller portion? Try scaling the recipe:</span>
        <input type="hidden" th:field="*{recipeId}" />
        <button type="submit" name="scalingValue" value=".5">1/2x</button>
        <button type="submit" name="scalingValue" value="1">1x</button>
        <button type="submit" name="scalingValue" value="2">2x</button>
        <button type="submit" name="scalingValue" value="4">4x</button>
    </form>
    <table>
        <tbody>
        <tr th:each="ingredient : ${recipe.recipeIngredients}">
            <td>
                <input type="checkbox">
                <span th:text="${@recipeUtils.formatIngredient(ingredient.quantity, ingredient.measurement,
                                                            ingredient.preparation, ingredient.component)}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Directions</h3>
    <table>
        <tbody>
        <tr th:each="direction : ${recipe.recipeDirections}">
            <td th:text="'Step ' + ${direction.stepNum} + ': ' + ${direction.direction}"></td>
            <td th:text="${@recipeUtils.formatDirectionDetails(direction.method, direction.level, direction.temp)}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${recipe.userSubstitutionEntries.size != 0}">
        <h3>User Substitutions</h3>
        <table>
            <thead>
            <tr>
                <th>Original</th>
                <th>Amount and Preparation</th>
                <th>Substituted</th>
                <th>Amount and Preparation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entry : ${recipe.userSubstitutionEntries}">

                <td th:text="${entry.originalComponent}"></td>
                <td th:text="${@recipeUtils.formatSubs(entry.originalQuantity, entry.originalMeasurement, entry.originalPreparation)}"></td>
                <td th:text="${entry.substitutedComponent}"></td>
                <td th:text="${@recipeUtils.formatSubs(entry.substitutedQuantity, entry.substitutedMeasurement, entry.substitutedPreparation)}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${glossaryList.size != 0}">
        <hr>
        <details><summary>Glossary Terms</summary>
            <table class="alternating">
                <tr th:each="entry : ${glossaryList}">
                    <td>
                        <strong th:text="${entry.term}"></strong>
                        <span th:text="': ' + ${entry.definition}"></span>
                    </td>
                </tr>
            </table>
        </details>
    </div>
    <div th:if="${substitutionList.size != 0}">
        <hr>
        <details><summary>Common Substitution</summary>
            <table>
                <thead>
                <tr>
                    <th>Original</th>
                    <th>Amount and Preparation</th>
                    <th>Substituted</th>
                    <th>Amount and Preparation</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${substitutionList}">
                    <td th:text="${entry.originalComponent}"></td>
                    <td th:text="${@recipeUtils.formatSubs(entry.originalQuantity, entry.originalMeasurement, entry.originalPreparation)}"></td>
                    <td th:text="${entry.substitutedComponent}"></td>
                    <td th:text="${@recipeUtils.formatSubs(entry.substitutedQuantity, entry.substitutedMeasurement, entry.substitutedPreparation)}"></td>
                </tr>
                </tbody>
            </table>
        </details>
    </div>
    <hr>
    <div th:if="${recipe.recipeNote != null}">
        <h3>Notes</h3>
        <span th:text="${recipe.recipeNote.note}"></span>
    </div>
    <div th:if="${recipe.recipeLinks.size != 0}">
        <h3>Links</h3>
        <p>Links below are added by users to external sites</p>
        <ul th:each="link : ${recipe.recipeLinks}">
            <li><a th:href="${link.link}" th:text="${link.link}"></a></li>
        </ul>
    </div>
    <div th:if="${recipe.recipeComments.size != 0}">
        <h3>Comments</h3>
        <table>
            <tbody>
            <tr th:each="comment : ${recipe.recipeComments}">
                <td th:text="${comment.commentUserName} + ': '"></td>
                <td th:text="${comment.commentText}"></td>
                <td>
                    <form id="deleteCommentForm" th:action="@{/mod/recipe/comment/delete}" method="post" sec:authorize="hasRole('MOD') or hasRole('ADMIN')" >
                        <input type="hidden" name="comment" th:value="${comment.commentText}" />
                        <input type="hidden" name="recipeId" th:value="${comment.recipeId}" />
                        <input type="hidden" name="commentId" th:value="${comment.commentId}" />
                        <button type="submit">Delete Comment</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${recipe.recipeComments.size == 0}" class="noPrint">
        <h3>Comments</h3>
        <span>There are no comments on this recipe.</span>
    </div>
    <div class="noPrint">
        <h4>Add your own comment:</h4>
        <form id="commentForm" action="#" th:action="@{/recipe/comment/add}" th:object="${webComment}" method="post">
            <input type="hidden" th:field="*{recipeId}" />
            <textarea th:field="*{commentText}" placeholder="Add your comment here..." maxlength="500"></textarea>
            <button type="submit">Add Comment</button>
        </form>
    </div>
    <div th:if="${tagsExist}">
        <hr>
        <details><summary>Tags</summary>
        <ul>
            <li th:each="tag : ${recipe.recipeTags}" th:if="${tag.value != ''}">
                <span th:text="${tag.key}"></span>:
                <span th:text="${tag.value}"></span>
            </li>
        </ul>
        </details>
    </div>

</main>
</div>
</body>

</html>