<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Creation</title>
</head>

<body>
<header>
    <nav></nav>
    <h1>Create your profile</h1>
</header>

<main>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <form action="#" th:action="@{/profile/create}" th:object="${webProfile}" method="post">
        <table>
            <tr>
                <td>First Name:</td>
                <td><input type="text" th:field="*{firstName}"/></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input type="text" th:field="*{lastName}"/></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input type="text" th:field="*{favoriteDish}"/></td>
            </tr>
            <tr>
                <td>Cooking Level:</td>
                <td>
                    <select th:field="*{cookingLevel}">
                        <option value="">Select a cooking level</option>
                        <option value="Novice">Novice</option>
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                        <option value="Expert">Expert</option>
                        <option value="Chef-Level">Chef-Level</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cooking Level:</td>
                <td><input type="text" th:field="*{favoriteCuisine}"/></td>
            </tr>
            <tr>
                <td><button type="submit">Create</button></td><td></td>
            </tr>
        </table>
    </form>
</main>

<footer>
    <button onclick="location.href='/'">Cancel</button>
</footer>
</body>

</html>
