<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${isPersonal}">Your Profile</title>
    <title th:if="${!isPersonal}">View Profile</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/headerAndNavbar}"></div>
        <h2 th:if="${isPersonal}">View Your Profile</h2>
        <h2 th:if="${!isPersonal}" th:text="'View ' + ${profile.firstName} + ' ' + ${profile.lastName} + '\'s Profile'"></h2>
    </header>

    <main>
        <form id="deleteForm" th:action="@{/admin/account/delete}" method="post" sec:authorize="hasRole('ADMIN')" >
            <input type="hidden" name="id" th:value="${profile.id}" />
            <button type="submit">Delete Account</button>
        </form>
        <form id="reactivateForm" th:action="@{/admin/account/reactivate}" method="post" sec:authorize="hasRole('ADMIN')" >
            <input type="hidden" name="id" th:value="${profile.id}" />
            <button type="submit">Reactivate Account</button>
        </form>
        <div sec:authorize="hasRole('ADMIN')">
            <button th:onclick="|location.href='/admin/account/change/email?id=' + ${profile.id}|" >Change User Email</button>
        </div>

        <button onclick="location.href='/profile/edit'" th:if="${isPersonal}">Edit Profile</button>
        <button onclick="location.href='/account/edit/email'" th:if="${isPersonal}">Edit Email</button>
        <button onclick="location.href='/account/edit/password'" th:if="${isPersonal}">Edit Password</button>
        <button onclick="location.href='/account/deactivate'" th:if="${isPersonal}">Deactivate Account</button>
        <p>main</p>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <div th:if="${message}" th:text="${message}" style="color: green;"></div>
        <table th:if="${profile}">
            <tr>
                <td>First Name:</td>
                <td th:text="${profile.firstName}"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td th:text="${profile.lastName}"></td>
            </tr>
            <tr>
                <td>Cooking Level:</td>
                <td th:text="${profile.cookingLevel}"></td>
            </tr>
            <tr>
                <td>Favorite Dish:</td>
                <td th:text="${profile.favoriteDish}"></td>
            </tr>
            <tr>
                <td>Favorite Cuisine:</td>
                <td th:text="${profile.favoriteCuisine}"></td>
            </tr>
        </table>
        <br>
        <table th:if="${recipes.size != 0}">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Makes</th>
                <th>Prep Time</th>
                <th>Make Time</th>
                <th>Total Time</th>
                <th>Rating</th>
            </thead>

            <tbody>
                <tr th:each="recipe : ${recipes}">
                    <td>
                        <a th:href="${'http://localhost:8080/recipe/view?recipeId=' + recipe.recipeId}" th:text="${recipe.name}"></a>
                    </td>
                    <td th:text="${recipe.description}"></td>
                    <td th:text="${#numbers.formatDecimal(recipe.yield, 0, recipe.yield % 1 == 0 ? 0 : 1)} + ' ' + ${recipe.unitOfYield}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.prepHr, recipe.prepMin)}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.processHr, recipe.processMin)}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.totalHr, recipe.totalMin)}"></td>
                    <td th:text="${@recipeUtils.formatRatingShort(recipe.ratingInfo.averageRating, recipe.ratingInfo.numberOfRaters)}"></td>
                </tr>
            </tbody>
        </table>

        <span th:if="${recipes.size == 0 && isPersonal}">You have no published recipes.</span>
        <span th:if="${recipes.size == 0 && !isPersonal}">This user has no published recipes.</span>
    </main>

    <footer>
        <p>footer</p>
    </footer>
</body>

</html>
