<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:if="${isPersonal}">RecipEase Your Profile</title>
    <title th:if="${!isPersonal}">RecipEase View Profile</title>
</head>

<body>
<div class="container">
    <header>
        <div th:replace="~{fragments/navbar}"></div>
        <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" />
        <h2 th:if="${isPersonal}">View Your Profile</h2>
        <h2 th:if="${!isPersonal}" th:text="'View ' + ${profile.firstName} + ' ' + ${profile.lastName} + '\'s Profile'"></h2>
    </header>

    <main>
        <div th:if="${message}" th:text="${message}" style="color: green;"></div>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <table th:if="${profile}">
            <tr>
                <td>First Name: <span th:text="${profile.firstName}"></span></td>
            </tr>
            <tr>
                <td>Last Name: <span th:text="${profile.lastName}"></span></td>
            </tr>
            <tr>
                <td>Cooking Level: <span th:text="${profile.cookingLevel}"></span></td>
            </tr>
            <tr>
                <td>Favorite Dish: <span th:text="${profile.favoriteDish}"></span></td>
            </tr>
            <tr>
                <td>Favorite Cuisine: <span th:text="${profile.favoriteCuisine}"></span></td>
            </tr>
            <tr>
                <td class="utility" colspan="2">
                    <form id="deleteForm" th:action="@{/admin/account/delete}" method="post" sec:authorize="hasRole('ADMIN')" >
                        <input type="hidden" name="id" th:value="${profile.id}" />
                        <button type="submit">Delete Account</button>
                    </form>
                    <form id="reactivateOrDeactivateForm" th:action="@{${profile.active} ? '/admin/account/deactivate' : '/admin/account/activate'}" method="post" sec:authorize="hasRole('ADMIN')" >
                        <input type="hidden" name="id" th:value="${profile.id}" />
                        <button type="submit" th:text="${profile.active} ? 'Deactivate Account' : 'Reactivate Account'"></button>
                    </form>
                    <div sec:authorize="hasRole('ADMIN')">
                        <button th:onclick="|location.href='/admin/account/change/email?id=' + ${profile.id}|" >Change User Email</button>
                    </div>
                    <button th:onclick="|location.href='/profile/edit'|" th:if="${isPersonal}">Edit Profile</button>
                    <button th:onclick="|location.href='/account/edit/email'|" th:if="${isPersonal}">Edit Email</button>
                    <button th:onclick="|location.href='/account/edit/password'|" th:if="${isPersonal}">Edit Password</button>
                    <button th:onclick="|location.href='/account/deactivate'|" th:if="${isPersonal}">Deactivate Account</button>
                </td>
            </tr>
        </table>
        <br>
        <div th:if="${recipes.size != 0}">
            <h2>Recipes:</h2>
            <table class="alternating">
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Makes</th>
                    <th>Prep Time</th>
                    <th>Make Time</th>
                    <th>Total Time</th>
                    <th>Rating</th>
                </thead>

                <tbody>
                    <tr th:each="recipe : ${recipes}">
                        <td>
                            <a th:href="${'http://localhost:8080/recipe/view?recipeId=' + recipe.recipeId}" th:text="${recipe.name}"></a>
                        </td>
                        <td th:text="${recipe.description}"></td>
                        <td th:text="${recipe.yield} + ' ' + ${recipe.unitOfYield}"></td>
                        <td th:text="${@recipeUtils.formatTimeShort(recipe.prepHr, recipe.prepMin)}"></td>
                        <td th:text="${@recipeUtils.formatTimeShort(recipe.processHr, recipe.processMin)}"></td>
                        <td th:text="${@recipeUtils.formatTimeShort(recipe.totalHr, recipe.totalMin)}"></td>
                        <td th:text="${@recipeUtils.formatRatingShort(recipe.ratingInfo.averageRating, recipe.ratingInfo.numberOfRaters)}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <span th:if="${recipes.size == 0 && isPersonal}">You have no published recipes.</span>
        <span th:if="${recipes.size == 0 && !isPersonal}">This user has no published recipes.</span>
        <br>
        <div th:if="${bookmarks.size != 0}">
            <table class="alternating">
                <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Makes</th>
                <th>Prep Time</th>
                <th>Make Time</th>
                <th>Total Time</th>
                <th>Rating</th>
                <th>Remove</th>
                </thead>

                <tbody>
                <tr th:each="recipe : ${bookmarks}">
                    <td>
                        <a th:href="${'http://localhost:8080/recipe/view?recipeId=' + recipe.recipeId}" th:text="${recipe.name}"></a>
                    </td>
                    <td th:text="${recipe.description}"></td>
                    <td th:text="${#numbers.formatDecimal(recipe.yield, 0, recipe.yield % 1 == 0 ? 0 : 1)} + ' ' + ${recipe.unitOfYield}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.prepHr, recipe.prepMin)}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.processHr, recipe.processMin)}"></td>
                    <td th:text="${@recipeUtils.formatTimeShort(recipe.totalHr, recipe.totalMin)}"></td>
                    <td th:text="${@recipeUtils.formatRatingShort(recipe.ratingInfo.averageRating, recipe.ratingInfo.numberOfRaters)}"></td>
                    <td>
                        <form id="removeFromBookmarkForm" th:action="@{/recipe/bookmark/list/remove}" method="post">
                            <input type="hidden" name="recipeId" th:value="${recipe.recipeId}" />
                            <button type="submit">Remove Bookmark</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <span th:if="${bookmarks.size == 0 && isPersonal}">You have no bookmarked recipes.</span>
        <span th:if="${bookmarks.size == 0 && !isPersonal}">This user has no bookmarked recipes.</span>
    </main>
</div>
</body>

</html>
