<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
</head>

<body>
<header>
    <nav></nav>
    <h1>View profile</h1>
</header>

<main>
    <button onclick="location.href='/profile/edit'" th:if="${personal}">Edit Profile</button>
    <button onclick="location.href='/account/edit'" th:if="${personal}">Edit Account</button>
    <p>main</p>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
    <table th:if="${profile}">
        <tr>
            <td>First Name:</td>
            <td th:text="${profile.firstName}"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td th:text="${profile.lastName}"></td>
        </tr>
        <tr>
            <td>Cooking Level:</td>
            <td th:text="${profile.cookingLevel}"></td>
        </tr>
        <tr>
            <td>Favorite Dish:</td>
            <td th:text="${profile.favoriteDish}"></td>
        </tr>
        <tr>
            <td>Favorite Cuisine:</td>
            <td th:text="${profile.favoriteCuisine}"></td>
        </tr>

    </table>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
