<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Substitutions</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/headerAndNavbar}"></div>
        <h2>Browse through the common substitutions</h2>
    </header>

    <main>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <table th:if="${error == null}">
            <thead>
            <tr>
                <th>Original</th>
                <th>Amount and Preparation</th>
                <th>Substituted</th>
                <th>Amount and Preparation</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="substitution : ${substitutions}">
                <td th:text="${substitution.originalComponent}"></td>
                <td>
                    <span th:text="${@recipeUtils.formatSubs(substitution.originalQuantity, substitution.originalMeasurement, substitution.originalPreparation)}"></span>
                </td>
                <td th:text="${substitution.substitutedComponent}"></td>
                <td>
                    <span th:text="${@recipeUtils.formatSubs(substitution.substitutedQuantity, substitution.substitutedMeasurement, substitution.substitutedPreparation)}"></span>
                </td>
            </tr>

            </tbody>
        </table>
    </main>

    <footer>
        <p>footer</p>
    </footer>
</body>

</html>
