<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Substitutions</title>
</head>

<body>
<header>
    <nav></nav>
    <h1>Browse through the known substitutions</h1>
</header>

<main>
    <p>main</p>
    <table>
        <thead>
        <tr>
            <th>Original</th>
            <th>Amount and Preparation</th>
            <th>Substituted</th>
            <th>Amount and Preparation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="substitution : ${substitutions}">
            <td th:text="${substitution.originalComponent}"></td>

            <td th:if="${substitution.originalFractionQuantity == null}"
                th:text="${substitution.originalWholeNumberQuantity + ' ' + substitution.originalMeasurement + ' ' + substitution.originalPreparation}">
            </td>
            <td th:if="${substitution.originalWholeNumberQuantity == 0}"
                th:text="${substitution.originalFractionQuantity + ' ' + substitution.originalMeasurement + ' ' + substitution.originalPreparation}">
            </td>
            <td th:if="${substitution.originalFractionQuantity != null && substitution.originalWholeNumberQuantity != 0}"
                th:text="${substitution.originalWholeNumberQuantity + ' ' + substitution.originalFractionQuantity + ' ' + substitution.originalMeasurement + ' ' + substitution.originalPreparation}">
            </td>
            <td th:text="${substitution.substitutedComponent}"></td>

            <td th:if="${substitution.substitutedFractionQuantity == null}"
                th:text="${substitution.substitutedWholeNumberQuantity + ' ' + substitution.substitutedMeasurement + ' ' + substitution.substitutedPreparation}">
            </td>
            <td th:if="${substitution.substitutedWholeNumberQuantity == 0}"
                th:text="${substitution.substitutedFractionQuantity + ' ' + substitution.substitutedMeasurement + ' ' + substitution.substitutedPreparation}">
            </td>
            <td th:if="${substitution.substitutedFractionQuantity != null && substitution.substitutedWholeNumberQuantity != 0}"
                th:text="${substitution.substitutedWholeNumberQuantity + ' ' + substitution.substitutedFractionQuantity + ' ' + substitution.substitutedMeasurement + ' ' + substitution.substitutedPreparation}">
            </td>
        </tr>

        </tbody>
    </table>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
