<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Glossary</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>Browse Through the Glossary</h2>
</header>

<main>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <table th:if="${error == null}">
        <thead>
            <tr>
                <th>Term</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${glossary}">
            <td th:text="${entry.term}"></td>
            <td th:text="${entry.definition}"></td>
        </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
