<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navbar">
    <header>
        <h1 id="title"><a href="/landing">RecipEase</a></h1>
        <nav>
            <ul>
                <li><a href="#">Account</a>
                    <ul>
                        <li><a href="/profile/view/personal">View Your Profile</a></li>
                        <li><a href="/profile/edit">Edit Profile</a></li>
                        <li><a href="/account/edit/email">Edit Email</a></li>
                        <li><a href="/account/edit/password">Edit Password</a></li>
                        <li><a href="/account/deactivate">Deactivate Account</a></li>
                    </ul>
                </li>
                <li><a href="#">Recipe</a>
                    <ul>
                        <li><a href="/recipe/create">Create a Recipe</a></li>
                        <li><a href="/recipe/search">Search for Recipes</a></li>
                        <li><a href="/recipe/trending">Trending Recipes</a></li>
                    </ul>
                </li>
                <li><a href="#">Glossary</a>
                    <ul>
                        <li><a href="/glossary/view">View Glossary</a></li>
                    </ul>
                </li>
                <li><a href="#">Substitutions</a>
                    <ul>
                        <li><a href="/substitution/view">View Common Substitutions</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('MOD') or hasRole('ADMIN')"><a href="#">Moderator</a>
                    <ul>
                        <li><a href="/recipeDashboard">Recipe Dashboard</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ADMIN')"><a href="#">Admin</a>
                    <ul>
                        <li><a href="/userDashboard">User Dashboard</a></li>
                    </ul>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <li sec:authorize="isAnonymous()">
                    <a href="/login">Login</a>
                </li>
            </ul>
        </nav>
    </header>
</div>