.recipeDisplay th:nth-child(1), .recipeDisplay td:nth-child(1){
    width: 15%;
    min-width: 150px;
    word-break: break-word;
}

.recipeDisplay th:nth-child(3), .recipeDisplay td:nth-child(3){
    width: 10%;
    min-width: 100px;
}

.recipeDisplay th:nth-child(4), .recipeDisplay td:nth-child(4),
.recipeDisplay th:nth-child(5), .recipeDisplay td:nth-child(5),
.recipeDisplay th:nth-child(6), .recipeDisplay td:nth-child(6),
.recipeDisplay th:nth-child(7), .recipeDisplay td:nth-child(7){
    width: 5%;
    min-width: 50px;
}