img {
    display: block;
    margin: auto;
}
.rating button {
    background: none;
    border: none;
    cursor: pointer;
    color: #ccc;
    font-size: 20px;
}

.rating button:hover,
.rating button.active {
    color: gold;
}

table.utility-table {
    border-collapse: collapse;
    border-top: none;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: none;
    width: 100%;
}

table.utility-table td {
    border-bottom: 1px solid #ddd;
}

.prepop {
    font-size: 1.17em;
    font-weight: bold;
}
