<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Recipe Deleted</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/navbar}"></div>
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <h2>Account Deleted</h2>
</header>

<main>
    <div class="container">
        <p style="color: green;">This account has been deleted. Thank you for cleaning up RecipEase!</p>
    </div>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
