<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Homepage</title>
</head>

<body>
<header>
    <nav></nav>
    <h1>Your account has been activated!</h1>
</header>

<main>
    <!--
    <div>
        <button onclick="location.href='/account/register'">Register</button>
        <button onclick="location.href='/login'">Login</button>
    </div>
    -->
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
