<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Deactivate Account</title>
</head>

<body>
<div class="container">
    <header>
        <div th:replace="~{fragments/navbar}"></div>
        <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" />
        <h2>Deactivate Your Account</h2>
    </header>

    <main>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <form action="#" th:action="@{/account/deactivate}" th:object="${webAccount}" method="post">
            <table>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Deactivate</button></td><td></td>
                </tr>
            </table>
        </form>
        <button onclick="location.href='/profile/view/personal'">Back to profile</button>
    </main>
</div>
</body>

</html>
