<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Change Password</title>
</head>

<body>
<div class="container">
    <header>
        <div th:replace="~{fragments/navbar}"></div>
        <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" />
        <h2>Change Your Password</h2>
    </header>

    <main>
        <div th:each="error : ${errors}">
            <span th:text="${error}" style="color: red;"></span>
        </div>
        <div th:if="${passwordCriteria != null}">
            <p style="color: red;">Password is not strong enough. It must include:</p>
            <ul>
                <li th:each="criteria : ${passwordCriteria}"
                    style="color: #555;"
                    th:text="${criteria}"></li>
            </ul>
        </div>
        <div th:if="${message}" th:text="${message}" style="color: orange;"></div>
        <div th:if="${success}" th:text="${success}" style="color: green;"></div>
        <form action="#" th:action="@{/account/edit/password}" th:object="${webAccount}" method="post">
            <table>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td>Confirm Password: </td>
                    <td><input type="password" th:field="*{confirmPassword}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Edit</button></td><td></td>
                </tr>
            </table>
        </form>
        <button onclick="location.href='/profile/view/personal'">Back to profile</button>
    </main>
</div>
</body>

</html>
