<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Registration</title>
</head>

<body>
    <header>
        <nav></nav>
        <h1>Register your account</h1>
    </header>

    <main>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <ul th:if="${passwordCriteria}">
            <li th:each="criteria : ${passwordCriteria}"
                style="color: #555;"
                th:text="${criteria}"></li>
        </ul>
            <form action="#" th:action="@{/account/register}" th:object="${webAccount}" method="post">
            <table>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{email}"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{password}"/></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" th:field="*{confirmPassword}"/></td>
                </tr>
                <tr>
                    <td><button type="submit">Register</button></td><td></td>
                </tr>
            </table>
        </form>
    </main>

    <footer>
        <button onclick="location.href='/'">Cancel</button>
    </footer>
</body>

</html>
