<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Registration</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/headerAndNavbar}"></div>
        <h2>Register your account and create your profile</h2>
    </header>

    <main>
        <div th:if="${error}" th:text="${error}" style="color: red;"></div>
        <ul th:if="${passwordCriteria}">
            <li th:each="criteria : ${passwordCriteria}"
                style="color: #555;"
                th:text="${criteria}"></li>
        </ul>
        <form action="#" th:action="@{/account/register}" th:object="${registrationForm}" method="post">
            <h3>Account Information</h3>
            <table>
                <tr>
                    <td>Email:</td>
                    <td><input type="text" th:field="*{webAccount.email}" maxlength="" required/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" th:field="*{webAccount.password}"/></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" th:field="*{webAccount.confirmPassword}"/></td>
                </tr>
            </table>

            <h3>Profile Information</h3>
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{webProfile.firstName}"/></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{webProfile.lastName}"/></td>
                </tr>
                <tr>
                    <td>Favorite Dish:</td>
                    <td><input type="text" th:field="*{webProfile.favoriteDish}"/></td>
                </tr>
                <tr>
                    <td>Cooking Level:</td>
                    <td>
                        <select th:field="*{webProfile.cookingLevel}">
                            <option value="">Select a cooking level</option>
                            <option value="Novice">Novice</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                            <option value="Expert">Expert</option>
                            <option value="Chef-Level">Chef-Level</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Favorite Cuisine:</td>
                    <td><input type="text" th:field="*{webProfile.favoriteCuisine}"/></td>
                </tr>
            </table>

            <button type="submit">Register and Create Profile</button>
        </form>
    </main>

    <footer>
        <button onclick="location.href='/'">Cancel</button>
    </footer>
</body>

</html>