<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Registration Confirmation</title>
</head>

<body>
<div class="container">
    <header>
        <div th:replace="~{fragments/navbar}"></div>
        <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
        <link rel="stylesheet" th:href="@{/css/navbar.css}" />
        <h2>Your Account Has Been Registered!</h2>
    </header>

    <main>
        <p th:text="'An account has been created for ' + ${email} + '.'">
        <p>Please check your email regarding account activation.</p>
    </main>
    <button onclick="location.href='/'">Back to homepage</button>
</div>
</body>

</html>
