<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RecipEase Password Reset</title>
</head>

<body>
<div class="container">
<header>
  <div th:replace="~{fragments/navbar}"></div>
  <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
  <link rel="stylesheet" th:href="@{/css/navbar.css}" />
  <h2>Reset Your Password Request</h2>
</header>

<main>
  <form action="#" th:action="@{/account/reset/password/request}" method="post">
    <label for="email">Enter your email to reset password:</label>
    <input type="email" id="email" name="email" required />
    <button type="submit">Request Password Reset</button>
  </form>
</main>

</div>
</body>

</html>
