<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase - 403 Access</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
</header>

<main>
    <h2>Forbidden Access</h2>
    <p>Oops! You don't have permission to access this recipe. Maybe it's a secret family recipe? 🤫</p>
    <a href="/landing">Back to homepage</a>
</main>

<footer>
</footer>
</body>

</html>
