<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase </title>
</head>

<body>
<div class="container">
<header>
    <div th:replace="~{fragments/navbar}"></div>
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <h2>Welcome to RecipEase</h2>
</header>

<main>
    <p>main</p>
</main>

</div>
</body>

</html>
