<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Home</title>
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
</head>

<body>
<div class="container">
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
</header>

<main>
    <section>
        <h2>Welcome to RecipEase</h2>
        <p>Your go-to platform for discovering, creating, and sharing delicious recipes.</p>
    </section>

    <section>
        <h2>Find Other's Recipes</h2>
        <p>Discover something new to create!</p>
        <a href="/recipe/search">Find Recipes</a>
    </section>

    <section>
        <h2>Create Your Own Recipes</h2>
        <p>Share your culinary creations with the world. Add ingredients, instructions, and even photos!</p>
        <a href="/recipe/create">Create a Recipe</a>
    </section>

    <section>
        <h2>Explore the Glossary</h2>
        <p>New to cooking? Check out our glossary for definitions of common cooking terms.</p>
        <a href="/glossary/view">View Glossary</a>
    </section>

    <section>
        <h2>Ingredient Substitutions</h2>
        <p>Missing an ingredient? No worries! Find suitable substitutions with ease.</p>
        <a href="/substitution/view">View Substitutions</a>
    </section>
</main>

<footer>
    <p></p>
</footer>
</div>
</body>

</html>
