<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Landing</title>
</head>

<body>
<header>
    <nav></nav>
    <h1>Welcome to RecipEase</h1>
</header>

<main>
    <p>main</p>
    <button onclick="location.href='/profile/view/personal'">View Personal Profile</button>
    <button onclick="location.href='/profile/view?email=david33reese@gmail.com'">View Other Profile</button>
    <button onclick="location.href='/glossary/view'">View Glossary</button>
    <button onclick="location.href='/substitution/view'">View Substitutions</button>
    <div>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
