<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header>
        <div th:replace="~{fragments/headerAndNavbar}"></div>
        <h2>Welcome to RecipEase</h2>
    </header>

    <main>
        <div th:if="${param.inactive}" style="color: red;">Your account is not currently active. If you are a new users, please check your email to activate. If you have deactivated it, please wait until we allow you reactivate it.</div>
        <div th:if="${param.authenticationError}" style="color: red;">Invalid username and password.</div>
        <div th:if="${param.loginRequiredError}" style="color: red;">You need to be logged in to access that page.</div>
        <div th:if="${param.logout}" style="color: green;">You have logged out.</div>
        <div th:if="${success}" style="color: green;" th:text="${success}"></div>
        <form name="f" th:action="@{/login}" method="post">
            <table>
                <tr>
                    <td><label for="username">Email:</label></td>
                    <td><input type="text" id="username" name="username" /></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" id="password" name="password" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Log in</button></td>
                </tr>
            </table>
            <a href="/">Cancel<br></a>
        </form>
        <div>
            <button onclick="location.href='/account/register'">Register</button>
        </div>
    </main>

    <footer>
        <p>footer</p>
    </footer>
</body>

</html>
