<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Admin Dashboard</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>Admin Dashboard</h2>
</header>

<main>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Active</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Edit Email</th>
                <th>Delete Account</th>
                <th>Activate</th>
            </tr>
        </thead>
        <tbody th:each="user : ${users}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.active}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <button th:onclick="|location.href='/adminDashboard/change?id=' + ${user.id}|" >Change</button>
                </td>
                <td>
                    <form id="deleteForm" th:action="@{/adminDashboard/delete}" method="post">
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <input type="hidden" name="email" th:value="${user.email}" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td th:if="${!user.active}">
                    <form id="activateForm" th:action="@{/adminDashboard/activate}" method="post" sec:authorize="hasRole('ADMIN')" >
                        <input type="hidden" name="email" th:value="${user.email}" />
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <button type="submit">Activate</button>
                    </form>
                </td>
                <td th:if="${user.active}">Currently Active</td>
            </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
