<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase Recipe Dashboard</title>
</head>

<body>
<div class="container">
<header>
    <div th:replace="~{fragments/navbar}"></div>
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    <h2>Recipe Dashboard</h2>
</header>

<main>
    <div th:if="${totalRecipes == 0}">
        <span th:text="There are no recipes created in the system." style="color: red;"></span>
    </div>
    <table th:if="${totalRecipes > 0}">
        <tr>
            <td>Total Recipes: <span th:text="${totalRecipes}"></span></td>
        </tr>
        <tr>
            <td>Trending Recipes: <span th:text="${totalTrending}"></span></td>
        </tr>
    </table>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
    <table th:if="${totalRecipes > 0}" class="alternating" id="recipe">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Delete Recipe</th>
            <th>Trending Status</th>
            <th>Trending Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.recipeId}"></td>
            <td><a th:href="${'/recipe/view?recipeId=' + recipe.recipeId}" th:text="${recipe.name}"></a></td>
            <td th:text="${recipe.description}"></td>
            <td th:text="${@recipeUtils.formatRatingShort(recipe.ratingInfo.averageRating, recipe.ratingInfo.numberOfRaters)}"></td>
            <td>
                <form id="deleteForm" th:action="@{/recipeDashboard/delete}" method="post">
                    <input type="hidden" name="id" th:value="${recipe.recipeId}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
            <td>
                <span th:text="${recipe.staffTrending ? 'Trending' : 'Not Trending'}"></span>
            </td>
            <td>
                <form th:action="@{${recipe.staffTrending} ? '/recipeDashboard/trending/remove' : '/recipeDashboard/trending/add'}" method="post">
                    <input type="hidden" name="id" th:value="${recipe.recipeId}" />
                    <button type="submit" th:text="${recipe.staffTrending} ? 'Remove' : 'Add'"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</main>

</div>
</body>

</html>
