<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipEase User Dashboard</title>
</head>

<body>
<header>
    <div th:replace="~{fragments/headerAndNavbar}"></div>
    <h2>User Dashboard</h2>
</header>

<main>
    <div th:if="${totalUsers == 0}">
        <span th:text="There are no users registered in the system." style="color: red;"></span>
    </div>
    <table th:if="${totalUsers > 0}">
        <tr>
            <td>Total Users: <span th:text="${totalUsers}"></span></td>
        </tr>
        <tr>
            <td>Active Users: <span th:text="${totalActive}"></span></td>
        </tr>
    </table>
    <div th:if="${error}" th:text="${error}" style="color: red;"></div>
    <div th:if="${message}" th:text="${message}" style="color: green;"></div>
    <table th:if="${totalUsers > 0}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Active</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Edit Email</th>
                <th>Delete Account</th>
                <th>Active Status</th>
                <th>Active Action</th>
            </tr>
        </thead>
        <tbody th:each="user : ${users}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.active}"></td>
                <td><a th:href="${'http://localhost:8080/profile/view?id=' + user.id}" th:text="${user.name}"></a></td>
                <td th:text="${user.roles}"></td>
                <td>
                    <button th:onclick="|location.href='/userDashboard/change?id=' + ${user.id}|" >Change</button>
                </td>
                <td>
                    <form id="deleteForm" th:action="@{/userDashboard/delete}" method="post">
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <input type="hidden" name="email" th:value="${user.email}" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
                <td th:text="${user.active ? 'Active' : 'No Active'}" ></td>
                <td>
                    <form id="activateForm" th:action="@{${user.active} ? '/userDashboard/deactivate' : '/userDashboard/activate'}" method="post" sec:authorize="hasRole('ADMIN')" >
                        <input type="hidden" name="email" th:value="${user.email}" />
                        <input type="hidden" name="id" th:value="${user.id}" />
                        <button type="submit" th:text="@{${user.active} ? 'Deactivate' : 'Activate'}"></button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</main>

<footer>
    <p>footer</p>
</footer>
</body>

</html>
